.app {
  display: flex;
  flex-direction: column;
  max-width: 100vw;
  height: 100%;
}

.textContainer {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  column-gap: 16px;
  height: 100%;
}

.inputText,
.outputText {
  flex: 1 1 0;
}
